/* NavBar */
.nav-belt{
  position: relative;
  overflow: hidden;
  background: #111;
  padding: 10px;
}
.nav-grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
/* Style the links inside the navigation bar */
.nav-belt a {
  color: rgb(170, 162, 162);
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}
/* Change the color of links on hover */
.nav-belt a:hover {
  color: #ddd;
}
.nav-belt input[type=text]{
  padding: 6px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  width: 85%;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Advertisement section */
.ad{
  margin-top: 10px;
  width: 70%;
  height:120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-area: 'ad';
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
}

#heading{
  margin-left: 25px;
  font-size: 20px;
}
#products,#accessories{
  margin: 15px 35px 25px 35px;
  padding: 0px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: 2px;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.image{
  max-width: 200px;
  height: 200px;
}

footer{
  padding: 20px 0;
  background-color: rgb(13, 13, 14);
}
.foot-grid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
footer .copyright{
  grid-column: 10/20; 
  font-size: 0.8rem;
  color: white;
}

footer ul {
  list-style-type: none;
}
footer a{
  text-decoration: none;
  color: rgb(170, 162, 162);
}

footer a:hover{
  color: #ddd;
}

footer .social{
   grid-column: 8/9; 
   list-style-type: none;
}

footer img{
  width: 30px;
}

#myBtn {
  width: 55px;
  border: none; /* Remove borders */
  background-color:rgb(13, 13, 14); /* Set a background color */
  color: rgb(170, 162, 162); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 18px; /* Increase font size */
  grid-column: 9/9;
}
#myBtn:hover{
  color: #ddd;
}

@media only screen and (max-width: 600px) {
  .nav-grid{
    grid-template-columns: auto auto;
  }
  .nav-belt a {
    text-align: left;
  }
  .card {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .grid{
    grid-template-columns: auto ;
  }
  footer .copyright{
    grid-column: 3/5;
  }
  footer a{
    font-size: 15px;
  }
}